{:paths ["src/main/clj" "src/main/resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         org.clojure/tools.logging {:mvn/version "1.2.4"}
         com.taoensso/nippy {:mvn/version "3.2.0"}
         jarohen/chime {:mvn/version "0.3.3"}
         org.clojure/core.async {:mvn/version "1.6.673"}
         clojurewerkz/machine_head {:mvn/version "1.0.0"}
         ch.qos.logback/logback-classic {:mvn/version "1.1.3"}}

 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/sha "9c738da"
                                                :git/tag "v0.8.5"
                                                :git/url "https://github.com/clojure/tools.build.git"}}
          :ns-default build}
  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
          :extra-paths ["src/dev/resources"]
          :exec-fn codox.main/generate-docs
          :exec-args {:source-paths ["src/main/clj"]
                      :name "xnfun"
                      :themes [:default [:google-analytics]]
                      :source-uri "https://github.com/lotuc/xnfun/blob/master/{filepath}#L{line}"
                      :doc-files ["docs/intro.md"
                                  "docs/thoughts.md"]
                      :metadata {:doc/format :markdown}
                      :namespaces [lotuc.xnfun.api
                                   lotuc.xnfun.protocols
                                   lotuc.xnfun.core.node-defaults
                                   lotuc.xnfun.core.transport-mqtt]}}
  :dev  {:extra-paths ["src/dev/clj" "src/dev/resources" "src/test/clj"]}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
          :main-opts  ["-m" "nrepl.cmdline" "-i"]}
  :cider {:extra-deps {nrepl/nrepl       {:mvn/version "1.0.0"}
                       cider/cider-nrepl {:mvn/version "0.29.0"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
          :main-opts  ["-m" "nrepl.cmdline" "--middleware"
                       "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                       "-i"]}
  :test {:extra-paths ["src/dev/clj" "src/dev/resources"
                       "src/test/resources" "src/test/clj"]}}}
